*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #DEDEDE;
}

.container {
    width: 600px;
    height: 1165px;
    background-color: #FFFFFF;
    margin: 30px auto;
    font-family: "Smythe", system-ui;
}

header {
    position: relative;
}

#header-img{
    width: 600px;
    height: 170px;
}

.hero-text-section {
    position: absolute;
    top: 50%;
    left: 45px;
    color: #FFFFFF;
    text-shadow: 2px 0px black;
    font-size: 1.2rem;
}

.order-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    width: 508px;
}

.left {
    
    height: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.food-img{
    width: 70px;
    height: 90px;
    
}

.food-name {
    font-size: 1.5rem;
    font-weight: 550;
}

.food-desc {
    font-size: 1rem;
    font-weight: 400;
    color: #8B8B8B;
    margin: 10px;
}

.food-price  {
    font-size: 1.25rem;
    font-weight: 550;
}

.add-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
}

.divider {
    border-bottom: 1px solid #DEDEDE;
    width: 508px;
}

/* Payment Details */

#payment-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 524px;
    height: 543px;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 0px 4px 2px #8B8B8B;
    display: none;
    text-align: center;
}

#card-details-text {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 40px;
}

.form-design {
    width: 475px;
    height: 71px;
    border: 1.3px solid #757575;
    margin-top: 25px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

#payment-btn {
    width: 475px;
    height: 71px;
    background-color: #16DB99;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

/* THANKS */

#thanks-box {
    width: 504px;
    height: 120px;
    background-color: #ECFDF5;
    margin: 50px auto;
    display: grid;
    place-items: center;
}

#thanks-text {
    color: #065F46;
    font-family: "Smythe", system-ui;
    font-size: 2rem;
    font-weight: 400;
}