*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #DEDEDE;
}

.container {
    width: 600px;
    height: 1165px;
    background-color: #FFFFFF;
    margin: 30px auto;
    font-family: "Smythe", system-ui;
}

header {
    position: relative;
}

#header-img{
    width: 600px;
    height: 170px;
}

.hero-text-section {
    position: absolute;
    top: 50%;
    left: 45px;
    color: #FFFFFF;
    text-shadow: 2px 0px black;
    font-size: 1.2rem;
}

.order-items {
    display: flex;
    flex-direction: column;
    align-items: center;

.food-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    width: 508px;
}

.left {
    
    height: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.food-img{
    width: 70px;
    height: 90px;
    
}

.food-name {
    font-size: 1.5rem;
    font-weight: 550;
}

.food-desc {
    font-size: 1rem;
    font-weight: 400;
    color: #8B8B8B;
    margin: 10px;
}

.food-price  {
    font-size: 1.25rem;
    font-weight: 550;
}

.add-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
}

.divider {
    border-bottom: 1px solid #DEDEDE;
    width: 508px;
}