*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 550px;
    margin: 10px auto;
    font-family: "Inter", sans-serif;
}

.main   {
    background-color: #6943FF;
    color: #ffffff;
    text-align: center;

}

#main-heading {
    padding: 25px;
    margin-bottom: 20px;
}

#main-input {
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 3.6rem;
    font-weight: 800;
    padding: 5px 18px;
}

#btn {
    width: 117px;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    margin: 30px 0px;
    line-height: 24px;
    font-size: 1rem;
} 

.section-div {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section {
    background-color: #273549;
    color: #CCC1FF;
    width: 500px;
    padding: 16px 8px;
    margin: 10px;
}

#sec1 {
    margin-top: 35px;
}

#sec3 {
    margin-bottom: 35px;
} 

.first{
    color: #CCC1FF;
    font-size: 1.2rem;
    padding: 6px;
    margin-bottom: 4px;
    font-weight: 500;
}

.second{
    color: #FFFFFF;
    font-size: 0.9rem;
    padding: 6px;
    margin-bottom: 7px;
    font-weight: 300;
}