*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 570px;
    margin: 10px auto;
    font-family: "Inter", sans-serif;
}

.main   {
    background-color: #6943FF;
    color: #ffffff;
    text-align: center;

}

#main-heading {
    padding: 25px;
    margin-bottom: 15px;
    margin-top: 14px;
}

#main-input {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    width: 117px;
    margin: 0 auto;
    border-radius: 5px;
    border: 3px solid #B295FF;
    background-color: #6943FF;
    color: #FFFFFF;
}

#top-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn {
    width: 117px;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    margin: 30px 0px;
    line-height: 24px;
    font-size: 1rem;
} 

.section-div {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section {
    background-color: #273549;
    color: #CCC1FF;
    width: 500px;
    padding: 16px 8px;
    margin: 10px;
}

#sec1 {
    margin-top: 35px;
}

#sec3 {
    margin-bottom: 35px;
} 

.first{
    color: #CCC1FF;
    font-size: 1.2rem;
    padding: 6px;
    margin-bottom: 4px;
    font-weight: 500;
}

.second{
    color: #FFFFFF;
    font-size: 0.9rem;
    padding: 6px;
    margin-bottom: 7px;
    font-weight: 300;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}